<div class="footer">
  <div class="wrapper">
    <ul>
      <li>
        <a href="<%= SubPath.get_frontend_path("/rewards/press") %>">Press & Media</a>
      </li>
      <li>
        <a href="http://blog.linquet.com/">Blog</a>
      </li>
    </ul>
  </div>
  <div class="fr">
    <%= render 'copyright' %>
  </div>
</div>
<%= render 'google_analytics' %>
