<div id="header"    >
  <div class="wrapper clearfix">
    <h1 id="linquet_mini_header2"><img style="margin-bottom: -8px;" src="<%= asset_path "favicon.png" %>"> &nbsp;<a href="<%=SubPath.get_frontend_path("/") %>"><%= Settings.product_name %></a></h1>
  </div>
</div>
