    <ul>
      <li>
        <a href="<%= SubPath.getAbsolutePath("rewards/press") %>">Press & Media</a>
      </li>
      <li>
        <a href="http://blog.linquet.com/">Blog</a>
      </li>
    </ul>


    <div>
      <ul class="wrapper clearfix">
        <li id="nyt"><a href="http://www.nytimes.com/2011/07/04/technology/04key.html?pagewanted=all"
                        style="background: url('http://lockitron.com/assets/nyt-c5e7212a86a9f96fd452f308ce8aa8a8.png')  no-repeat left center;">New York Times</a></li>
        <li id="ps"><a href="http://www.popsci.com/gadgets/gallery/2011-06/goods-august-2011?image=3">Popular Science</a></li>
        <li id="wired"><a href="http://www.wired.com/gadgetlab/2011/05/lockitron-unlock-your-home-with-your-cellphone/"
                          style="background: url('http://lockitron.com/assets/wired-9f9ea9802c7c01d69633763dd108ee90.png') no-repeat left center;
		                          width: 149px;">Wired</a></li>
        <li id="techcrunch"><a href="http://techcrunch.com/2011/05/13/lockitron-lets-you-unlock-your-door-with-your-phone/">TechCrunch</a></li>
        <li id="mashable"><a href="http://mashable.com/2011/05/17/lockitron/">Mashable</a></li>
        <li id="diy"><a href="http://www.diynetwork.com/i-want-that/lockitron/index.html">DIY Network</a></li>
      </ul>
    </div>


    <div class="editorial_2col recent_articles partners_content">
      <div class="partner">
        <a class="partner-logo press_logo-BusinessInsider" href="http://www.businessinsider.com/gust-streamlines-the-angel-investment-process-2011-9" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://www.businessinsider.com/gust-streamlines-the-angel-investment-process-2011-9" target="_blank">
              Gust Streamlines the Angel Investment Process
            </a>
          </h2>
          <p>BusinessInsider.com · September 19, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-SmartCompany" href="http://www.smartcompany.com.au/start-up/20110915-gust-com-to-link-start-ups-to-international-investors.html" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://www.smartcompany.com.au/start-up/20110915-gust-com-to-link-start-ups-to-international-investors.html" target="_blank">
              Gust.com to link start-ups to international investors
            </a>
          </h2>
          <p>smartcompany.com.au · September 15, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-tnw" href="http://thenextweb.com/insider/2011/09/15/demo-11-gust-wants-to-be-the-wind-in-the-sails-of-global-entrepreneurship/" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://thenextweb.com/insider/2011/09/15/demo-11-gust-wants-to-be-the-wind-in-the-sails-of-global-entrepreneurship/" target="_blank">
              DEMO ’11: Gust wants to be the wind in the sails of global entrepreneurship
            </a>
          </h2>
          <p>theNextWeb.com · September 15, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-VentureBeat" href="http://venturebeat.com/2011/09/13/gust-angelsoft/" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://venturebeat.com/2011/09/13/gust-angelsoft/" target="_blank">
              Demo: Angelsoft relaunches as Gust, a platform of tools for fundraising &amp; dealflow
            </a>
          </h2>
          <p>VentureBeat.com · September 13, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-TechCrunch" href="http://techcrunch.com/2011/09/13/angelsoft-relaunches-as-gust-com-now-connects-startups-to-investors/" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://techcrunch.com/2011/09/13/angelsoft-relaunches-as-gust-com-now-connects-startups-to-investors/" target="_blank">
              AngelSoft Relaunches as Gust.com, Now Connects Startups To Investors
            </a>
          </h2>
          <p>Techcrunch.com · September 13, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-portfolio" href="http://www.portfolio.com/views/blogs/entrepreneurship/2011/09/13/david-rose-connects-investors-and-startups-with-gust" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://www.portfolio.com/views/blogs/entrepreneurship/2011/09/13/david-rose-connects-investors-and-startups-with-gust" target="_blank">
              Gust Looks for Whirlwind of Cash
            </a>
          </h2>
          <p>Portfolio.com · September 13, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-xconomy" href="http://www.xconomy.com/new-york/2011/09/13/angelsoft-to-become-gust-rebrands-platform-for-finding-financing/" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://www.xconomy.com/new-york/2011/09/13/angelsoft-to-become-gust-rebrands-platform-for-finding-financing/" target="_blank">
              Angelsoft to Become Gust, Rebrands Platform for Finding Financing
            </a>
          </h2>
          <p>xconomy.com · September 13, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-FrankPetersShow" href="http://thefrankpetersshow.com/2011/announcing-gust-com/" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://thefrankpetersshow.com/2011/announcing-gust-com/" target="_blank">
              Announcing Gust.com
            </a>
          </h2>
          <p>theFrankPetersShow.com · September 13, 2011</p>
        </div>
      </div>
      <div class="partner">
        <a class="partner-logo press_logo-ScienceBusiness" href="http://sciencebusiness.technewslit.com/?p=6018" target="_blank"></a>
        <div class="partner-text">
          <h2>
            <a href="http://sciencebusiness.technewslit.com/?p=6018" target="_blank">
              AngelSoft Becomes Gust, Offers Start-Up Funding Platform
            </a>
          </h2>
          <p>ScienceBusiness.Technewslit.com · September 13, 2011</p>
        </div>
      </div>
    </div>

