<% content_for :page_css do %>
<style>
#social-icons td a:hover {
  text-decoration: none;
}
.fl {
float: left;
}
.fr {
float: right;
}
#social-icons ul {
list-style: none outside;
}
#share_page ol li {
  list-style-type: decimal;
  margin-bottom: 15px;
  line-height: 1.4;
}
#share_page {
  background-color: white;
}
</style>
<% end %>


<div id="share_page" style="height:600px">
  <div style="margin:auto;width:600px;position:relative;top:38px;font-size: 14px;text-align: center;">
    <p style="font-size:48px;font-weight: bold;">Thanks for your help!</p>
  </div>

  <div style="margin:auto;margin-bottom:80px;width:600px;position:relative;top:45px;font-size: 14px;text-align: center;">
      <table id="social-icons" style="font-size:24px;margin:auto;">
        <tr>
          <td><span>Please spread the love&nbsp;&nbsp;</span></td>
          <td class="facebook"><a target="_blank" href="http://www.facebook.com/Linquet" title="facebook"> <img src="/images/social-icons/facebook-on.png" style="width: 36px;height: 36px;"/></a></td>
          <td class="twitter"><a target="_blank" href="http://twitter.com/linquet" title="twitter"><img src="/images/social-icons/twitter-on.png" style="width: 36px;height: 36px;"/></a>&nbsp;</td>
          <td class="google"><a target="_blank" href="https://plus.google.com/113925221180296859058/" title="google plus"><img src="/images/social-icons/google-on.png" style="width: 36px;height: 36px;"/></a></td>
        </tr>
      </table>
  </div>

  <div style="margin:auto;width:600px;position:relative;top:45px;font-size: 22px;text-align: left;">

    <h4 style="font-size:26px; font-weight: bolder;">Want FREE Linquets? Here’s how to get them: </h4>

    <ol>
      <li><span style="font-weight: bolder;"> <a href="/mini/referrals?r=<%=URI::encode_www_form_component(@referring_url)%>" style="text-decoration: underline;"> Invite Your Friends ▶</a></span><br>

        Get additional Linquet Mini's by inviting your friends.

      <li><span style="font-weight: bolder;"> Share Linquet Mini With The Press </span><br>

        Get press coverage for Linquet Mini on a popular news/tech blog or channel like:
        NBC News, BBC, MSNBC, CNN, NYTimes and etc. Just <a href="mailto:info@linquet.com?Subject=Press coverage for Linquet Mini">
        email us at mini@linquet.com </a> your communication with the respected blog/channel along with the link to the article/video, and
        we’ll confirm your FREE Linquet.
    </ol>

    <!-- TODO
      <div id="order_id">Reservation ID: <%= "123321123321" %> <%# TODO, order uuid %>. You can bookmark or print this page for your records.</div>
      -->
  </div>
</div>







