<div class="big_wrapper">
  <div class="wrapper" id="one" style="height: 570px;">
    <div class="point_copy">
      <h3>
        Never again misplace or lose your phone, keys, wallet, pet, ...
      </h3>
      <p>
        Prevent the loss or theft of your phone and valuables.  Simply attach a Linquet to your valuable and link it to your phone
        through our free app. When the phone or any valuable goes out-of-range (e.g. leaving home without your wallet) BOTH your phone
        and your valuable will alarm, PREVENTING you from forgetting/losing your stuff. Also, Linquet uploads both time and location to
        the cloud, enabling you to find your phone and valuables afterwards.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two" style="height: 420px;background: url('<%= asset_path("Linquet-app.png") %>') no-repeat top left ;">
    <div class="point_copy right">
      <h3>
        Linquet provides you with peace of mind
      </h3>
      <p>
        Imagine if you never again forget your phone at the office, misplace the car keys before a meeting or find out your beloved puppy
        has wandered off. Imagine how much easier, more relaxed and more productive your life would be. Wouldn’t that be amazing?
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three"  style="height: 450px;">
    <div class="point_copy">
      <h3>
        Cloud-based solution
      </h3>
      <p>
        Linquet is the first cloud-based solution out there. It provides users with unique powerful features such as phone tracking,
        unlimited updates, post-loss, maps, My Profiles and etc. It also has a powerful programmable button which allows users to
        find their phone (even when it’s on silent) or use it for other cool things like Panic button, Camera controller,
        temperature sensor and etc.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        We ♥ developers
      </h3>
      <p>
        Linquet loves developers.  We will be releasing its cloud-based API and SDK, which will allow creative developers to build
        amazing apps for safety, security, pets, health care, education, marketing, games and beyond!
      <p>
    </div>
  </div>
</div>

