<div class="gray_background">
	<ul class="wrapper clearfix" id="other_points">
		<li id="section-1">
			<h4>Mini yet &ldquo;Power&rdquo;ful&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
			<p>A little longer than a quarter (1.85 in), Linquet is very small. It’s just 0.98 in x thickness 0.19 in (47 mm X 25 mm x 5 mm).
				Linquet is tiny, yet based on 24/7 usage and an alarm loud enough even for outdoor environments, its battery lasts up to 1 year! It’ll even
				notify you when it’s running low and you could easily pop it open and replace its commonly found coin cell battery.</p>
		</li>

		<li id="section-2">
			<h4>Amazing product</h4>
			<p> • Long range of 100 feet (30 meters)<br>
				• Simple and intuitive UI<br>
				• Patent-pending technology<br>
				• Automatic protection, no need to even bring out your phone<br>
				• Programmable button & audible alarm<br>
				• Cloud capabilities<br>
				• And more
		</li>
		<li id="section-3" style="width:900px">
		<h4>Easily Customizable</h4>
		  <p>
		  Linquets are completely customizable:<br>
		  &nbsp;• Set different icons, ringtones and settings for different valuables<br>
		  &nbsp;• Customize your Linquets with different modes (long alarm, short alarm, silent)<br>
		  &nbsp;• Assign different range for each Linquet (e.g. Pet: far, keys: near, ...)<br>
		  &nbsp;• Powerful cloud-based “Profiles” (e.g. Don’t alarm when I’m at work, make the alarm louder in the gym, ...)<br>
		</li>
	</ul>
</div>
