<div id='logos'>
	<ul class="wrapper clearfix">
		<li id="nyt"><a href="http://www.nytimes.com/2011/07/04/technology/04key.html?pagewanted=all"
		                style="background: url('http://lockitron.com/assets/nyt-c5e7212a86a9f96fd452f308ce8aa8a8.png')  no-repeat left center;">New York Times</a></li>
		<li id="ps"><a href="http://www.popsci.com/gadgets/gallery/2011-06/goods-august-2011?image=3">Popular Science</a></li>
		<li id="wired"><a href="http://www.wired.com/gadgetlab/2011/05/lockitron-unlock-your-home-with-your-cellphone/"
		                  style="background: url('http://lockitron.com/assets/wired-9f9ea9802c7c01d69633763dd108ee90.png') no-repeat left center;
		  width: 149px;>Wired</a></li>
		<li id="techcrunch"><a href="http://techcrunch.com/2011/05/13/lockitron-lets-you-unlock-your-door-with-your-phone/">TechCrunch</a></li>
		<li id="mashable"><a href="http://mashable.com/2011/05/17/lockitron/">Mashable</a></li>
		<li id="diy"><a href="http://www.diynetwork.com/i-want-that/lockitron/index.html">DIY Network</a></li>
	</ul>
</div>
